body {
    font-family: Lucida, "Lucida Grande", "Trebuchet MS", Tahoma, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f6f9;
}

#openModalBtn {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#openModalBtn:hover {
    background-color: #0056b3;
}

/* Modal styles */
.modal {
    height: 100%;
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    animation: fadeIn 0.3s;
}

.modal-content {
    width: 70%;
    min-height: 500px;
    max-height: 100vh;
    top: 50%;
    background-color: #fff;
    margin: auto;
    left: 0;
    right: 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    position: fixed;
    animation: slideIn 0.3s;
    z-index: 2;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}



.venue-title,
.hall-title {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
    /* font-size: 20px; */
}

.hall-title {
    margin-bottom: 20px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-55%); opacity: 0; }
    to { transform: translateY(-50%); opacity: 1; }
}

/* New Stepper Header Styles */
.stepper-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-shrink: 0;
}

.stepper-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #888;
    transition: color 0.3s ease;
}

.stepper-line {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0 15px;
}

.stepper-item .circle {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.45);
    background-color: rgba(0, 0, 0, 0.06);
    transition: background-color 0.3s ease;
}

.stepper-item .stepper-title {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

/* Active State */
.stepper-item.active {
    color: #000;
}

.stepper-item.active .circle {
    background-color: rgb(48, 133, 214); /* Blue */
    color: #fff;
}

/* Completed State */
.stepper-item.completed {
    color: #000;
}

.stepper-item.completed .circle {
    background-color: #E6F4FF; /* Green */
    font-size: 20px;
    color: rgb(48, 133, 214);
}

/* Filter styles */
.filters {
    margin-bottom: 10px;
    font-size: 13px;
    padding: 5px;
    /* background-color: #f8f9fa; */
    border-radius: 5px;
    /* border: 1px solid #dee2e6; */
}

.filters-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.filters-row:not(:last-child) {
    margin-bottom: 10px;
}

.filters-row.container-inline {
    gap: 10px;
}

.filter-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-group label.option {
    font-weight: 400;
}

.filter-group label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-weight: 400;
}

.filter-group input.form-text {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
}

.filter-group > span {
    font-weight: 400;
}

.close-button {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Stepper styles */
.step {
    display: none;
    animation: fadeIn 0.5s;
    overflow-y: auto;
    flex-grow: 1;
}

.step.active {
    display: block;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 5px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5px;
    font-size: 11px;
    line-height: 15px;
}

th, td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: 600;
    vertical-align: middle;
}

tbody tr {
    cursor: pointer;
}

tbody tr.odd {
    background-color: #f9f9f9;
}

tbody tr.even {
    background-color: #ffffff;
}

th.dt-center {
    text-align: center;
}

tbody tr:hover {
    background-color: #e2eef7;
}

td.dt-center {
    text-align: center;
}

tbody tr.selected {
    background-color: #d4edda !important; /* Use !important to override hover */
    color: #155724;
    font-weight: bold;
}

table.hover tbody tr:hover {
     background-color: #e2eef7;
}

/* span.venue-link {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
} */

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    gap: 5px;
    flex-shrink: 0;
}

.pagination button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 13px;
    line-height: 20px;

}

.pagination button:hover:not(:disabled) {
    background-color: #f0f0f0;
}

.pagination button:disabled {
    cursor: not-allowed;
    color: #ccc;
}

.pagination button:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #585858 0%, #111111 100%) repeat scroll 0 0;
    border: none;
    color: white !important;
}

.pagination button.active {
    border: 1px solid #979797;
    background: linear-gradient(to bottom, #fff 0, #dcdcdc 100%);

}

.pagination span.ellipsis {
    padding: 8px 4px;
    color: #666;
}

/* Footer and selection info */
.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    border-top: 1px solid #eee;
    margin-top: 10px;
    flex-shrink: 0;
}

.no-schemes-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 18px;
    color: #ff0000;
    /* border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9; */
    margin-top: 20px;
}

.stepper-btn {
    padding: 0 12px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    margin-left: 10px;
    line-height: 20px;
    min-height: 28px;
}

#backBtn {
    background-color: rgb(170, 170, 170);
    color: white;
}
#backBtn:hover {
    background-color: rgb(153, 153, 153);
}

#nextBtn {
    background-color: rgb(48, 133, 214);
    color: white;
}
#nextBtn:hover {
    background-color: rgb(35, 123, 206);
}
#nextBtn:disabled {
    background-color: #fafafa;
    color: #999;
    border: 1px solid rgba(0, 0, 0, .06);
    cursor: not-allowed;
    box-shadow: none;
}

.selection-info {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f8f9fa;;
    border-radius: 5px;
    font-size: 14px;
}
.selection-info p {
    margin: 5px 0;
}
.selection-info span {
    font-weight: bold;
    color: #0056b3;
}

/* Schema Preview Styles (integrated) */
.popup-container {
    margin-top: 20px;
    background-color: #fefefe;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#schemaPreview .popup-container {
    border: none;
    box-shadow: none;
    padding: 0;
}

.popup-container h4 {
    margin-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 16px;
}

.preview-content {
    display: flex;
    gap: 20px;
    flex-grow: 1;
    overflow: hidden;
}

.preview-sectors {
    flex: 0 0 300px;
    font-size: 13px;
    overflow-y: auto;
}

.preview-sectors p {
    margin-top: .5em;
    margin-bottom: .9em;
}

.preview-schema {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.preview-controls {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.form-submit {
    cursor: pointer;
    margin: 0;
    overflow: visible;
    font: inherit;
    color: #333;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 12px;
    background: #f5f5f5;
    font-size: 13px;
    line-height: 20px;
    min-height: 28px;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .06);
    border-radius: 4px;
    vertical-align: middle;
}
.form-submit:hover {
    background-color: #e0e0e0;
}

.form-submit.select-schema {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
    margin-left: auto;
}
.form-submit.select-schema:hover {
     background-color: #218838;
}

.schema-map-wrapper {
    border: 1px solid #ccc;
    overflow: auto;
    height: 60vh;
    background-color: #f5f5f5;
}

.schema-map {
    position: relative;
    cursor: grab;
}
.schema-map:active {
    cursor: grabbing;
}

#preview {
    position: relative;
    /* Dimensions are set inline now */
}

#preview img {
    display: block;
}

/* Collapsible fieldset */
fieldset.collapsible {
    /* border: 1px solid #ccc; */
    padding: 10px;
    border: none;
}
fieldset.collapsible legend {
    display: block;
    padding: 0;
    margin: 0;
}
fieldset.collapsible legend a {
    color: #0056b3;
    text-decoration: none;
}
fieldset.collapsible legend a:hover {
    text-decoration: underline;
}
fieldset.collapsible .fieldset-wrapper {
    max-height: 500px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}
fieldset.collapsible.collapsed .fieldset-wrapper {
    max-height: 0;
    padding: 0;
    border: none;
}

.mtop-20 {
    margin-top: 0;
}


.visually-hidden {
  display: none;
}